<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head.html :: headFragment}">
    <title>Add movie</title>
</head>
<header th:insert="~{common/header.html :: header}"> </header>
<body>

<br>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Add movie</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">Movie added successfully!</div>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/movie/save}" th:object="${movie}">
                    <div class="form-group mb-3">
                        <label class="form-label" for="name">Name:</label>
                        <input class="form-control" id="name" name="name" placeholder="Enter movie name" type="text" th:field="*{name}" required>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>
                    <label class="form-label">Genres:</label>
                    <div class="form-group mb-3" th:each="genre : ${T(com.zavrsni.Cinema.persistence.entity.Genre).values()}">
                        <input type="checkbox" th:value="${genre}" th:field="*{genres}">
                        <label class="form-label" th:text="${genre}"></label>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="director">Director:</label>
                        <input class="form-control" id="director" name="director" placeholder="Enter director name" type="text" th:field="*{director}" required>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="duration">Duration:</label>
                        <input class="form-control" id="duration" name="duration" placeholder="Enter movie duration (min)" type="text" th:field="*{duration}" required>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="price">Price:</label>
                        <input class="form-control" id="price" name="price" placeholder="Enter movie price" type="text" th:field="*{price}" required>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label" for="image">Image Link:</label>
                        <input class="form-control" id="image" name="image" placeholder="Enter image link" type="text" th:field="*{image}" required>
<!--                        <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('firstName')}"></p>-->
                    </div>

                    <div class="form-group"></div>
                    <button class="btn btn-primary" type="submit">Add Movie</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>