<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head.html :: headFragment}">
    <title>YourCinema</title>
</head>
<header th:insert="~{common/header.html :: header}"> </header>
<body>

<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3" th:each="movie : ${movies}">
            <div class="card bg-light"  style="max-height: 600px">
                <div class="card-header">
                    <a class="link-dark" th:href="@{'movie/' + ${movie.id}}"><h4 class="text-center" th:text="${movie.name}"></h4></a>
                </div>
                <img th:src="${movie.image}" th:alt="${movie.name}" style="min-height: 400px">
                <div class="card-body m-1 p-0">
                    <p class="m-1 p-0 text-center" th:text="${movie.director}"></p>
                    <p class="m-1 p-0 text-center"><span th:each="genre : ${movie.genres}" th:text="${genre} + ' '"></span></p>
                    <p class="m-1 p-0 text-center" th:text="'Duration: ' + ${movie.duration} + 'min'"></p>
                    <p class="m-1 p-0 text-center" th:text="'Price: ' + ${movie.price} + '€'"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


